<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<style>
    html {
        background-image: url("<%= image %>");
        background-size: cover;
    }
</style>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <img style="width: 100%" src="/img/solarsystem.jpeg">
    <%- include('partials/footer.ejs') %>
</body>
</html>